@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, #0f4c75, #1b6ca8, #1b98e0, #73c2fb);
  background-size: 400% 400%;
  animation: animateBackground 10s ease infinite;
}