.conteudo-lateral-esquerdo {
    width: 69.9%;
    height: auto;
    float: left;
}

#noticia-principal {
    padding: 50px;
}

.titulo-noticia {
    margin: 30px 0;
}

#noticia-principal .resumo {
    text-align: justify;
    line-height: 1.5rem;
}

.leia-mais {
    margin-top: 10px;
    float: right;
    text-decoration: none;
    color: #960000;
    font-weight: bolder;
}

.leia-mais:hover {
    padding: 8px;
    border-radius: 10px;
    background-color: #ECECEC;
}

.imagem-noticia img {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

#separador-noticias h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#separador-noticias #hr {
    display: inline-block;
    width: 85%;
    border: none;
    margin: 0;
}

.noticia-secundaria {
    height: auto;
    width: 100%;
    float: left;
    padding: 30px;
}

.img-noticia-secundaria img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.noticia-secundaria h3 {
    padding-top: 50px;
    padding-bottom: 20px;
}